# Tarefa 01

- Leia os enunciados com atenção
- Saiba que pode haver mais de uma resposta correta
- Insira novas células de código sempre que achar necessário
- Em caso de dúvidas, procure os tutores
- Divirta-se :)

#### 1)  crie uma série do pandas a partir de uma lista com os dados abaixo:

Em um estudo sobre alteração na tempreatura global, A NASA disponibiliza dados de diferenças de de temperatura média da superfície terrestre relativos às médias de temperatura entre 1951 e 1980. Os dados originais podem ser vistos no site da NASA/GISS, e estão dispostos a cada década na tabela abaixo.

|ano|anomalia termica|
|:-:|:----:|
| 1900 | -0.08 |
| 1920 | -0.27 |
| 1940 | 0.12 |
| 1960 | -0.03 |
| 1980 | 0.26 |
| 2000 | 0.40 |
| 2020 | 1.02 |

Crie uma séries do Pandas a partir de uma lista com esses dados.

In [49]:
import pandas as pd
import numpy as np

# Seu código aqui
variacaotermica = pd.Series([-0.08,-0.27,0.12,-0.03,0.26,0.40,1.02],
                           index=[1900,1920,1940,1960,1980,2000,2020])
variacaotermica

1900   -0.08
1920   -0.27
1940    0.12
1960   -0.03
1980    0.26
2000    0.40
2020    1.02
dtype: float64

In [50]:
pd.DataFrame({'ano': [1900,1920,1940,1960,1980,2000,2020],
              'anomalia termica' : [-0.08,-0.27,0.12,-0.03,0.26,0.40,1.02]})

    ano  anomalia termica
0  1900             -0.08
1  1920             -0.27
2  1940              0.12
3  1960             -0.03
4  1980              0.26
5  2000              0.40
6  2020              1.02

#### 2) Coloque os anos nos índices conforme a tabela.

In [51]:

# seu código aqui
variacaotermica = pd.Series([-0.08,-0.27,0.12,-0.03,0.26,0.40,1.02],
                           index=[1900,1920,1940,1960,1980,2000,2020])
variacaotermica

1900   -0.08
1920   -0.27
1940    0.12
1960   -0.03
1980    0.26
2000    0.40
2020    1.02
dtype: float64

#### 3) A partir do dicionário abaixo, crie uma séries do Pandas:

In [52]:
dic_temperaturas = {1900: -.08, 1920: -.27, 1940: .12, 1960: -.03, 1980: .26, 2000: .40, 2020: 1.02}

# seu código aqui
tempdict = pd.Series(dic_temperaturas)
tempdict

1900   -0.08
1920   -0.27
1940    0.12
1960   -0.03
1980    0.26
2000    0.40
2020    1.02
dtype: float64

#### 4) Transforme o ndarray abaixo em um dataframe. 
O numpy é capaz de gerar arrays n-dimensionais com números pseudo-aleatórios de acordo com uma variedade de distribuições, como no exemplo abaixo. Transforme esse nd-array em um DataFrame.

In [53]:
arr = np.random.normal(100, 10, (20,3))

# seu código aqui
df = pd.DataFrame(arr, columns = ['01','02','03'])
print(df)
print(type(df))

            01          02          03
0   113.046684   77.191287  107.117773
1    93.524743   93.164712  117.111090
2   108.790866  111.479725   89.743403
3    99.387695   95.231909   97.462293
4    95.755849  103.270070  102.306758
5   112.030322  109.934837   96.026162
6    95.071485  100.223135  102.485875
7   102.734328   96.823438   90.811471
8    90.504839  107.312156   93.805314
9    99.963218  101.354978   97.339370
10   92.575328  102.251583   88.214620
11  107.976624  111.810683   87.149678
12   85.162905   94.614446  100.924106
13  103.116396   97.913973  109.653323
14   78.984243   82.241298  101.196285
15   89.779336   78.146140   95.949161
16  102.480377   81.223422   91.539351
17  102.138027   89.451935  105.930541
18   91.610618  101.186809   96.125607
19  102.937131   99.581675  107.297710
<class 'pandas.core.frame.DataFrame'>

#### 5) Nomeie os índices das linhas com inteiros de 1 a 20, e as colunas com os nomes "x1", "x2", e "x3" respectivamente.

In [54]:
#seu código aqui
df = pd.DataFrame(arr, columns = ['x1','x2','x3'])
print(df)
print(type(df))

            x1          x2          x3
0   113.046684   77.191287  107.117773
1    93.524743   93.164712  117.111090
2   108.790866  111.479725   89.743403
3    99.387695   95.231909   97.462293
4    95.755849  103.270070  102.306758
5   112.030322  109.934837   96.026162
6    95.071485  100.223135  102.485875
7   102.734328   96.823438   90.811471
8    90.504839  107.312156   93.805314
9    99.963218  101.354978   97.339370
10   92.575328  102.251583   88.214620
11  107.976624  111.810683   87.149678
12   85.162905   94.614446  100.924106
13  103.116396   97.913973  109.653323
14   78.984243   82.241298  101.196285
15   89.779336   78.146140   95.949161
16  102.480377   81.223422   91.539351
17  102.138027   89.451935  105.930541
18   91.610618  101.186809   96.125607
19  102.937131   99.581675  107.297710
<class 'pandas.core.frame.DataFrame'>

#### 6) No DataFrame do exercício 5, crie uma nova coluna como sendo a média das três colunas, e dê a ela o nome de "media" (não recomendo colocar acentos em nomes de variáveis).

In [55]:
# seu código aqui
df = df.eval('Med = (x1 + x2 + x3)/3')
print(df)

            x1          x2          x3         Med
0   113.046684   77.191287  107.117773   99.118582
1    93.524743   93.164712  117.111090  101.266848
2   108.790866  111.479725   89.743403  103.337998
3    99.387695   95.231909   97.462293   97.360633
4    95.755849  103.270070  102.306758  100.444226
5   112.030322  109.934837   96.026162  105.997107
6    95.071485  100.223135  102.485875   99.260165
7   102.734328   96.823438   90.811471   96.789746
8    90.504839  107.312156   93.805314   97.207436
9    99.963218  101.354978   97.339370   99.552522
10   92.575328  102.251583   88.214620   94.347177
11  107.976624  111.810683   87.149678  102.312329
12   85.162905   94.614446  100.924106   93.567152
13  103.116396   97.913973  109.653323  103.561230
14   78.984243   82.241298  101.196285   87.473942
15   89.779336   78.146140   95.949161   87.958212
16  102.480377   81.223422   91.539351   91.747717
17  102.138027   89.451935  105.930541   99.173501
18   91.610618  101.186809   96.125607   96.307678
19  102.937131   99.581675  107.297710  103.272172

#### 7) No DataFrame do exercício 6, crie uma nova coluna chamada "log_med", contendo o logaritmo natural da média calculada no exercício 6 <br>

In [56]:
# seu código aqui
df['log_natural'] = np.log10(df['Med'])
df

            x1          x2          x3         Med  log_natural
0   113.046684   77.191287  107.117773   99.118582     1.996155
1    93.524743   93.164712  117.111090  101.266848     2.005467
2   108.790866  111.479725   89.743403  103.337998     2.014260
3    99.387695   95.231909   97.462293   97.360633     1.988383
4    95.755849  103.270070  102.306758  100.444226     2.001925
5   112.030322  109.934837   96.026162  105.997107     2.025294
6    95.071485  100.223135  102.485875   99.260165     1.996775
7   102.734328   96.823438   90.811471   96.789746     1.985829
8    90.504839  107.312156   93.805314   97.207436     1.987699
9    99.963218  101.354978   97.339370   99.552522     1.998052
10   92.575328  102.251583   88.214620   94.347177     1.974729
11  107.976624  111.810683   87.149678  102.312329     2.009928
12   85.162905   94.614446  100.924106   93.567152     1.971123
13  103.116396   97.913973  109.653323  103.561230     2.015197
14   78.984243   82.241298  101.196285   87.473942     1.941879
15   89.779336   78.146140   95.949161   87.958212     1.944276
16  102.480377   81.223422   91.539351   91.747717     1.962595
17  102.138027   89.451935  105.930541   99.173501     1.996396
18   91.610618  101.186809   96.125607   96.307678     1.983661
19  102.937131   99.581675  107.297710  103.272172     2.013983